@import url("https://fonts.googleapis.com/css2?family=Mukta&family=Rubik:wght@300&display=swap");

@font-face {
  font-family: 'custom';
  src: url("Fonts/ufonts.com_geometric-231-bold-bt.ttf");
  src: url("/Fonts/Geometric231TL-RomanC\ 16.ttf");
}


body {
  background: rgb(20, 16, 15);
  background: linear-gradient(
    125deg,
    rgba(20, 16, 15, 1) 0%,
    rgba(6, 32, 59, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "custom", sans-serif;
  height: 100vh;
  box-sizing: border-box;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(./media/mainpic2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
  z-index: -1;
  opacity: 0.4;
  box-sizing: border-box;
}
nav {
  width: 100vw;
  height: 7rem;
  display: flex;
  justify-content: flex-end;
  display: block;
  z-index: 2;
  position: absolute;
}
/* nav::after{
  content: "";
  position: fixed;
  border-top: 5px double white;
  width: 900px;
  top: ;
  right: 0;


} */
.navigation {
  margin-right: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}

li.li-nav {
  margin: 1rem;
  padding: 1rem;
  list-style-type: none;
}

li.li-nav :hover {
  color: rgb(202, 173, 5);
  font-weight: 600;
  
}
.li-nav:hover::after {
  content: "";
  position: fixed;
  border-top: 3px double gold;
  width: 1000px;
  right: 0;
  position: absolute;
  right: -150px;
  top: 81px
}

.navigation:after{
  content: "";
  position: fixed;
  border-top: 5px double white;
  /* width: 100v; */
  right: 0;
  position: absolute;
  right: -150px;
  left: -150px;
  top: 80px
}


li.li-nav > * {
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-size: medium;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 400;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  color: white;
  flex-direction: column;
  transition:  1s cubic-bezier(0.23, 1, 0.32, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}
h1.main-front-text {
  letter-spacing: 10px;
  margin-bottom: 0;
  text-shadow: 5px 8px 10px black;
}
h2 {
  margin-top: -20px;
  letter-spacing: 3px;
}
p.front-text {
  font-size: 1rem;
  width: 800px;
  text-align: center;
}

button {
  outline: none;
  border-radius: 60px;
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
  font-size: 1.1rem;
  color: rgb(0, 8, 51);
  font-weight: 500;
  box-shadow: 2px 4px 10px black;
  transition: all 0.5s;
  cursor: pointer;
  font-weight: 700;
  margin: 20px;
  box-sizing: content-box;
}

button:hover {
  background-color: rgb(0, 8, 51);
  color: rgb(238, 203, 8);
  border: none;
  width: 220px;
  height: 60px;
  font-weight: 700;
  border: none
}

video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  position: fixed;
  opacity: 0.2;
  z-index: -1;
  background-repeat: repeat-y;
  background-size: cover;
  box-sizing: border-box;
}

.partner-zone {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(0, 8, 51, 0.808);
  height: max-content;
}
.partner-zone-boxes {
  width: 385px;
  margin: 40px;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  overflow: auto;
  text-align: center;
}

.masz-grunt {
  font-size: large;
  letter-spacing: 3px;
  font-weight: 700;
}
.others-zone {
  position: absolute;
  width: 1280px;
  border-radius: 50px;
  bottom: 50px;
  padding: 20px;
  transition:  1s cubic-bezier(0.23, 1, 0.32, 1);
}

.youve-got {
  width: 1000px;
  text-align: center;
  
}
.requirements {
  width: 600px;
}
.benefits {
  width: 600px;
}
.ul-list {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.display {
  margin: 15px;
  /* background-color: rgba(0, 8, 51, 0.808); */
  border-radius: 20px;
  overflow: auto;
  /* box-shadow: 2px 4px 10px black; */
  border: 0px;
  color: rgb(224, 192, 8);
  font-weight: 500;
}
span {
  padding: 5px 10px 5px 10px;
  width: 900px;
}

.p-center {
  letter-spacing: 3px;
  font-weight: 700;
  margin-bottom: 0px;
}
.view {
  position: absolute; 
  top: 100px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 1280px;
  
}
.left {
  left: -3000px;
  transition:  1s cubic-bezier(0.23, 1, 0.32, 1);
  
}
p.header-inv-zone {
  order: 0;
  width: 850px;
  height: 10px;
  text-align: center;
  font-size: large;
  font-weight: 500;
  letter-spacing: 1px;
}
.boxes{
 
  text-align: center;
  box-sizing: border-box;
  color: white;;
  
}
/* .inv-zone {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.inv-zone-boxes {
  width: 325px;
  height: 370px;
  margin: 40px;
  padding: 10px;
  overflow: hidden;
  text-align: center;
}
.inv-zone-boxes-tittle {
  margin-top: 0px;
  letter-spacing: 3px;
  font-weight: 600;
  margin-bottom: -13px;
} */
.innov-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 8, 51, 0.808);
  box-shadow: 2px 4px 10px black;
  height: auto;
}
.innov-zone-boxes {
  width: 500px;
  height: 500px;
  margin: 30px;
  padding: 20px;
  overflow: auto;
  letter-spacing: 1px;
}
.justowanie{
  text-align: justify;
}
.innov-zone-boxes-tittle,
.mission-zone-boxes-tittle {
  margin-top: 0px;
  letter-spacing: 3px;
  font-weight: 600;
}

.mission-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 8, 51, 0.808);
  box-shadow: 2px 4px 10px black;
  height: auto;;
}
.mission-zone-boxes {
  width: 800px;
  height: 400px;
  margin: 30px;
  overflow: auto;
  box-sizing: border-box;
  padding: 15px;
  letter-spacing: 1px;
}

.investor-zone{
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  background-color: rgba(0, 8, 51, 0.808);
  height: 230px;
  top:150px;

}
.inv-img{
  width: 80px;
  height: 80px;
  margin: 10px;
}
.inv-boxes{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  background-color:  ;
  width: 150px;

}
.hide{
  display: none;
}