@import url("https://fonts.googleapis.com/css2?family=Mukta&family=Rubik:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

@font-face {
  font-family: 'custom';
  src: url("Fonts/ufonts.com_geometric-231-bold-bt.ttf");
  src: url("/Fonts/Geometric231TL-RomanC\ 16.ttf");
}


body {
  background: rgb(20, 16, 15);
  background: linear-gradient(
    125deg,
    rgba(20, 16, 15, 1) 0%,
    rgba(6, 32, 59, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "custom", sans-serif;
  height: 100vh;
  box-sizing: border-box;
  
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(./media/mainpic2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
  z-index: -1;
  opacity: 0.4;
  box-sizing: border-box;
}
nav {
  width: 100vw;
  height: 7rem;
  display: flex;
  justify-content: flex-end;
  display: block;
  z-index: 2;
  position: absolute;
}


.navigation {
  /* margin-right: 6rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}

li.li-nav {
  margin: 1rem;
  padding: 1rem;
  list-style-type: none;
}

li.li-nav :hover {
  color: rgb(202, 173, 5);
  font-weight: 600;
  
}
/* .li-nav:hover::after {
  content: "";
  position: fixed;
  border-top: 3px double gold;
  right: 0;
  position: absolute;
  right: -150px;
  left: -150px;
  top: 81px
} */

.navigation:after{
  content: "";
  position: fixed;
  border-top: 5px double white;
  /* width: 100v; */
  right: 0;
  position: absolute;
  right: -150px;
  left: -150px;
  top: 80px
}


li.li-nav > * {
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-size: medium;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  color: white;
  flex-direction: column;
  transition:  1s cubic-bezier(0.23, 1, 0.32, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-heading{
margin-bottom: 10px;
font-family: 'Broadway', sans-serif;
letter-spacing: 8px;
}

.main-heading-span{
font-size: xx-large;
display: inline-block;
width: max-content;
font-family: "custom";
color: rgb(255, 217, 0);
font-weight: 500;
bottom: 100px;
letter-spacing: 2px;
}


button {
  outline: none;
  border-radius: 60px;
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
  font-size: 1.1rem;
  color: rgb(0, 8, 51);
  box-shadow: 2px 4px 10px black;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px;
  box-sizing: content-box;
  font-family: "custom";
  font-weight: 800;
  font-size: x-large;
}

button:hover {
  background-color: white;
  color: rgb(185, 158, 6);
  border: none;
  width: 220px;
  height: 60px;
  font-weight: 700;
  border: none
}

video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  position: fixed;
  opacity: 0.2;
  z-index: -1;
  background-repeat: repeat-y;
  background-size: cover;
  box-sizing: border-box;
}

.partner-zone {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(0, 8, 51, 0.808);
  height: max-content;
}
.partner-zone-boxes {
  width: 385px;
  margin: 40px;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  overflow: auto;
  text-align: center;
}

.masz-grunt {
  font-size: large;
  letter-spacing: 3px;
  font-weight: 700;
}
.others-zone {
  position: absolute;
  width: fit-content;
  border-radius: 50px;
  padding: 20px;
  transition:  1s cubic-bezier(0.23, 1, 0.32, 1);
}

.youve-got {
  width: 1000px;
  text-align: center;
  
}
.requirements {
  width: 600px;
}
.benefits {
  width: 600px;
}
.ul-list {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.display {
  margin: 15px;
  /* background-color: rgba(0, 8, 51, 0.808); */
  border-radius: 20px;
  overflow: auto;
  /* box-shadow: 2px 4px 10px black; */
  border: 0px;
  color: rgb(224, 192, 8);
  font-weight: 500;
}
span {
  padding: 5px 10px 5px 10px;
  width: 900px;
}

.p-center {
  letter-spacing: 3px;
  font-weight: 700;
  margin-bottom: 0px;
  margin-bottom: 15px;
}
.view {
  position: absolute; 
  top: 100px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 1280px;
  
}
.left {
  left: -200%;
  transition:  1s cubic-bezier(0.23, 1, 0.32, 1);
  
}
p.header-inv-zone {
  order: 0;
  width: 850px;
  height: 10px;
  text-align: center;
  font-size: large;
  font-weight: 500;
  letter-spacing: 1px;
}
.boxes{
 
  text-align: center;
  box-sizing: border-box;
  color: white;;
  
}

.innov-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 8, 51, 0.808);
  box-shadow: 2px 4px 10px black;
  height: auto;
}
.innov-zone-boxes {
  width: 500px;
  height: 500px;
  margin: 30px;
  padding: 20px;
  overflow: auto;
  letter-spacing: 1px;
}
.justowanie{
  text-align: justify;
}
.innov-zone-boxes-tittle,
.mission-zone-boxes-tittle {
  margin-top: 0px;
  letter-spacing: 3px;
  font-weight: 600;
}

.mission-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 8, 51, 0.808);
  box-shadow: 2px 4px 10px black;
  height: auto;;
}
.mission-zone-boxes {
  width: 800px;
  height: 400px;
  margin: 30px;
  overflow: auto;
  box-sizing: border-box;
  padding: 15px;
  letter-spacing: 1px;
}

.investor-zone{
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  background-color: rgba(0, 8, 51, 0.808);
  height: 230px;
  top:150px;

}
.inv-img{
  width: 80px;
  height: 80px;
  margin: 10px;
}
.inv-boxes{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  background-color:  ;
  width: 150px;
}
.hide{
  display: none;
}
#hamburger {
  display: none;
}

@media screen and (max-width:1175px){

.navigation {
    margin-right: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    
}
  .navigation:after{
display: none;
  }
  .active {
    right: 0;
  }
  
    video {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.2;
      z-index: -1;
      background-repeat: repeat;
      background-size: cover;
      box-sizing: border-box;
    }

  .main-heading{
    margin-top: 100px;
    margin-bottom: 10px;
    font-family: 'Broadway', sans-serif;
    letter-spacing: 8px;
    font-size: 3rem;
    }
    
    .main-heading-span{
      font-size: xx-large;
      display: inline-block;
      width: auto;
      font-family: "custom";
      color: rgb(255, 217, 0);
      font-weight: 500;
      bottom: 100px;
      letter-spacing: 2px;
      font-size: 2rem;
      }
      .partner-zone {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: rgba(0, 8, 51, 0.808);
        height: max-content;
      }
      .partner-zone-boxes {
        width: 350px;
        margin: 40px;
        border-radius: 10px;
        padding: 10px;
        margin: 15px;
        overflow: auto;
        text-align: center;
        box-sizing: border-box;
      }
      
      .masz-grunt {
        font-size: large;
        letter-spacing: 3px;
        font-weight: 700;
      }
      .others-zone {
        position: absolute;
        width: 450px;
        border-radius: 50px;
        bottom: 50px;
        padding: 20px;
        transition:  1s cubic-bezier(0.23, 1, 0.32, 1);
        top: 240px
;
      }
      .investor-zone{
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(0, 8, 51, 0.808);
        height: 230px;
        top:230px;
        box-sizing: border-box;
        height: max-content;
      
      }
      .innov-zone {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(0, 8, 51, 0.808);
        box-shadow: 2px 4px 10px black;
        height: max-content;
      
      }
      .innov-zone-boxes {
        width: 500px;
        padding: 20px;
        height: min-content;
        letter-spacing: 1px;
      }
      .mission-zone{
        height: fit-content;
      }
      .mission-zone-boxes {
        width: 800px;
        height: min-content;
        margin: 30px;
        overflow: auto;
        box-sizing: border-box;
        padding: 15px;
        letter-spacing: 1px;
      }
}

@media screen and (max-width:700px){
 
  video{
    position: fixed;

  }
  .bar {
    display: block;
    width: 25px;
    height: 1px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(255, 255, 255);
  }
  #hamburger {
    display: block;
    cursor: pointer;
    margin-right: 10px;
  }
#hamburger.active .bar:nth-child(2) {
    transform: translateY(8px) rotate(45deg);
}

#hamburger.active .bar:nth-child(1) {
  opacity: 0;
}

#hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.navigation {
  position: fixed;
  right: -100%;
  top: 80px;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: -webkit-fill-available;
  transition-duration: 0.5s;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 30px;
}
.active {
  right: 0;

}
.others-zone {
top:80px}
li.li-nav > * {
  text-decoration: none;
  list-style-type: none;
  color: rgba(0, 8, 51, 0.808);
  font-size: large;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
}
.partner-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(0, 8, 51, 0.808);
  height: max-content;
}
.partner-zone-boxes {
  width: 350px;
  margin: 40px;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  overflow: auto;
  text-align: center;
  box-sizing: border-box;
}

.masz-grunt {
  font-size: large;
  letter-spacing: 3px;
  font-weight: 700;
}
.others-zone {
  position: absolute;
  width: 450px;
  border-radius: 50px;
  bottom: 50px;
  padding: 20px;
  transition:  1s cubic-bezier(0.23, 1, 0.32, 1);
}
.investor-zone{
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 8, 51, 0.808);
  height: 230px;
  top:150px;
  box-sizing: border-box;
  height: max-content;

}
.innov-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 8, 51, 0.808);
  box-shadow: 2px 4px 10px black;
  min-height: max-content;

}
.innov-zone-boxes {
  width: 500px;
  padding: 20px;
  height: fit-content;
  letter-spacing: 1px;
}
.mission-zone{
  height: fit-content;
}
.mission-zone-boxes {
  width: 800px;
  height: fit-content;
  margin: 30px;
  overflow: visible;
  box-sizing: border-box;
  padding: 15px;
  letter-spacing: 1px;
}
}